[submodule "conllu"]
	path = conllu
	url = https://github.com/sahitpj/conllu
[submodule "pyspotlight"]
	path = pyspotlight
	url = https://github.com/sahitpj/pyspotlight
[submodule "blog"]
	path = blog
	url = https://github.com/sahitpj/gs
[submodule "syntaxnet_triplets"]
	path = syntaxnet_triplets
	url = https://github.com/sahitpj/syntaxnet_triplets
[submodule "hypernymysuite"]
	path = hypernymysuite
	url = https://github.com/sahitpj/hypernymysuite
[submodule "TE-webapp"]
	path = TE-webapp
	url = https://github.com/sahitpj/TE-webapp
