[submodule "conllu"]
	path = conllu
	url = https://github.com/sahitpj/conllu
[submodule "pyspotlight"]
	path = pyspotlight
	url = https://github.com/sahitpj/pyspotlight
[submodule "blog"]
	path = blog
	url = https://github.com/sahitpj/gs
